# Environment — NEVER commit this
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Django
media/
staticfiles/
*.sqlite3
db.sqlite3

# Virtual env
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp

firebase-credentials.json